<div class="row">
  <div class="col-sm-6">
    <form action="/create_account" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputfirstname1">First Name</label>
        <input type="firstname" class="form-control" id="exampleInputfirstname1" aria-describedby="firstnameHelp" placeholder="Enter First Name" name="first_name">
      </div>
      <div class="form-group">
        <label for="exampleInputlastname1">Last Name</label>
        <input type="lastname" class="form-control" id="exampleInputlastname1" aria-describedby="lastnameHelp" placeholder="Enter last Name" name="last_name">
      </div>
      <div class="form-group">
        <label for="exampleInputaffiliation1">Company/Affiliation</label>
        <input type="affiliation" class="form-control" id="exampleInputaffiliation1" aria-describedby="affiliationHelp" placeholder="Enter last Name" name="affiliation">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password (Eight Character Minimum)</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Repeat Password (Eight Character Minimum)</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password_repeat">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
