<div class="jumbotron">
  <h1 class="display-3">Machine Learning Automator</h1>
  <p class="lead">Get started with machine learning in your application by having us do the heavy lifting for you.</p>
  <hr class="my-4">
  <h3 class="display-3">How it works:</h3>
  <ul>
    <li class="lead">Sign up</li>
    <li class="lead">Send us sample data</li>
    <li class="lead">Access your Machine Learner via bulk processing / API access</li>
  </ul>
  <a class="btn btn-primary" href="/create_account" role="button">Try it out</a>
  
</div>

<script>
  $(document).on('click', '.browse', function(){
    var file = $(this).parent().parent().find('.file');
    console.log($(this).parent().parent().children())
    file.trigger('click');
  });
  $(document).on('change', '.file', function(){
    $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
  });
</script>
