<div class="row">
  <div class="col-sm-6">
    <form action="/reset" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputPassword1">Password (Eight Character Minimum)</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Repeat Password (Eight Character Minimum)</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password_repeat">
      </div>
      <input type="hidden" name="reset_code" value="<%= @reset_code %>">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
