<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <%= partial "/layouts/partials/header" %>
  </head>
  <body>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <% if current_user %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.first_name %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">My Datasets</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/create_account">Create Account</a>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
        <br />
        <% if !flash[:error].nil? %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
        </div>
        <% end %>
        <br />
        <%= yield %>
      </div>
    </body>
  </body>
</html>
